
$main-background: #222831;
$main-text: #53BBFF;
$main-link:#4a69bb;
$info-background: #383737;
$info-text: #ddd;
$tags-color: #000;

body {
  color: $main-text;
  background-color: $main-background;
}
ul {
  margin-left: 15px; 
}
a {
  display: inline-block;
  color: $main-link;
  background-image: linear-gradient($main-text, $main-text), linear-gradient(transparent, transparent);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
  padding-bottom: 5px;
  box-shadow: none;

  &:hover, &:focus {
    background-size: 100% 2px, auto;
  }
}
.social {
  margin-left: 1.75rem;
  &__paragraph {
    margin: 0;
  }

  &__list {
    margin: 0;
    list-style: none;
    display: inline-flex;
  }
  &__item {
    margin-right: 0.75rem;
    text-transform: uppercase;
  }
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-bottom: 1.75rem;
}

.post {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}
.tag {
  background: #eee;
  color: $tags-color;
  display: inline-block;
  position: relative;
  line-height: 0.9rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  padding: .2rem;
  &::after, &::before{
     content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
  }
  &::after{
    border-top: 1.25rem solid transparent;
    left: -.8rem;
    border-right:.8rem solid #eee;
  }
   &::before{
    border-top: 1.25rem solid #eee;
    right: -.8rem;
    border-right: .8rem solid transparent;
  }
}

.cookie {
  color:$info-text;
  background-color: $info-background;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 15px 30px #000;
}
.cookie__close {
  vertical-align: super;
  color: inherit;
  margin: 0 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.post__title {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
